main{
    width: 500px;
}
.box {
    background-color: darkred;
    width: 70px;
    height: 60px;
    margin: 20px;
    display: inline-block;
}
.red{
    border: 4px solid black;
}
.dashes{
    border: 4px dashed black;
    background-color: darkred;
    width: 70px;
    height: 60px;
    margin: 20px;
    display: inline-block;
}
.dotted{
    border: 5px dotted black;
    background-color: darkred;
    width: 70px;
    height: 60px;
    margin: 20px;
    display: inline-block;
}


.colorful{
    border-top: 5px solid darkslateblue;
    border-bottom: 5px solid darkorchid;
    border-right: 5px solid darkorange;
    border-left:5px solid darkslategrey;
    background-color: red;
    color:white;
}
.dark {
    background-color: darkred;
    padding: 20px;
    display: inline-block;
    margin: 20px; 
}
